* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  background: linear-gradient(120deg, #0b3d2e, #145a32);
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 10px;
  color: #c8ffd4;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 2.5rem;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 40px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
  width: 250px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

.box {
  background: #1e8449;
  padding: 15px;
  border-radius: 10px;
}

/* CHARTS */
.charts {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}

canvas {
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  padding: 10px;
}

/* DARK MODE */
.dark {
  background: #0b0f0c;
  color: #d6ffd9;
}

.dark header {
  background: rgba(255,255,255,0.05);
}

.dark .card {
  background: rgba(255,255,255,0.08);
}