*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f7f5;
    color:#222;
    transition:0.3s;
}

/* NAV */
header{
    background:#1b5e20;
    padding:15px;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");

    background-size:cover;
}

.hero h1{
    font-size:3rem;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#43a047;
    color:white;
    cursor:pointer;
}

/* SECTIONS */
section{
    padding:70px 10%;
}

h2{
    margin-bottom:20px;
    color:#1b5e20;
}

/* STATS */
.stats{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.stat-box{
    flex:1;
    min-width:200px;
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

/* CARDS */
.cards{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    flex:1;
    min-width:250px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3, .card p{
    padding:10px;
}

/* QUIZ */
.quiz-container{
    background:white;
    padding:30px;
    border-radius:15px;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:20px;
}

#progress{
    height:100%;
    width:0%;
    background:linear-gradient(90deg,#2e7d32,#66bb6a);
}

#answers button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#43a047;
    color:white;
}

/* FOOTER */
footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}

.tag-footer{
    margin-top:10px;
    color:#fdd835;
    font-weight:bold;
}

/* TAGS */
.tag{
    margin-top:15px;
    color:#a5d6a7;
    font-weight:bold;
}

/* DARK MODE */
.dark{
    background:#121212;
    color:white;
}

.dark .card,
.dark .stat-box,
.dark .quiz-container{
    background:#1e1e1e;
}